nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

a {
    text-decoration: none;
}

html {
    font-family: "Fira Sans", "Trebuchet MS", "Tahoma", "Ubuntu", "Helvetica", "Arial", sans-serif;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

nav {
    margin-bottom: 25px;
}

.offset {
    display: inline-block;
    float: right;
}

.item {
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 50px;
    padding: 20px;
    width: 500px;
    border: 2px solid black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}